---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Bienvenido">
		<h1><span class="text-gradient">Jlparnisari</span></h1>
	<main class=" border-4">
		<p class="instructions">
			WEBS QUE A HECHO
		</p>
		<p class="text-center my-5 text-3xl">2023</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://molinocasilda.com.ar"
				title="MOLINO CASILDA"
				body=""
			/>
			<Card
				href="http://www.moviler.com/web/"
				title="MOVILER"
				body=""
			/>
			<Card
				href="https://valued.com.ar"
				title="VALUED"
				body=""
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2.5rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
	}
	.text-gradient {
		background: linear-gradient(#ffffff, #eaeaea, #d3d3d3, #a7a7a7, #8c8c8c, #424242, #212121);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-position: 0%;
	}
	.instructions {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
